 .register_bk{
  box-sizing: border-box;
  width:100%;
  height:100%;
  padding:3rem;
  display: flex;
  flex-direction: column;
  background-image:linear-gradient(to bottom right, #d7f1ff, hsl(225, 100%, 92%));
}

.register_header{
  font-size: 3.6rem;
}

.register_layout{
  display:flex;
  box-sizing: border-box;
  width:100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  padding:6rem;
}

.register_input_layout{
  display: flex;
  flex-direction: column;

}

.register_next{
  width: 7rem;
  height: 7rem;
}
